**/.ipynb_checkpoints
/code/crystal_ball/data_collector/100 leaves plant species
/code/crystal_ball/data_collector/leaf
/code/crystal_ball/data_collector/plants.data
/code/crystal_ball/data_collector/plants.names
/code/crystal_ball/data_collector/stateabbr.txt
/code/crystal_ball/data_collector/store.csv
/code/crystal_ball/data_collector/store_sales.csv
/code/crystal_ball/lotus.png
/code/crystal_ball/lotus.svg
/code/crystal_ball/data_collector/raw_data/*
**/backup/
**/catboost_info/
**/logs/
**/trained_models/
**/.idea
**/kt_bayes/
**/kt_hb/
**/kt_rs/
**/output
/code/secret_guest/syn_data_exps/*.csv
/code/secret_guest/syn_data_exps/CTAB-GAN-Plus/
/code/secret_guest/syn_data_exps/CasTGAN/
